body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    height: 100vh;
}

.imgcontainer {
    text-align: center;
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.login-form {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
}

.login-details {
    text-align: right; /* Align login details to the right */
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.forgot-password {
    text-align: right;
}

.psw a {
    color: #2196F3;
}

.psw a:hover {
    text-decoration: underline;
}
